header#main-header {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
}

header#main-header .header-content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {

  object-fit: cover;
}